{
  "env": {
    "targets": {
      "chrome": "49"
    },
    /**
     * 设置mode: "entry" 的话一定要在文件开头 import "core-js"
     */
    "mode": "usage",
    "coreJs": "3.31",
    // "loose": false, // ts 是否开启宽松模式
  },
  "jsc": {
    // "loose": true, // 宽松语法解析，如== 替换===。默认false
    "parser": {
      "syntax": "ecmascript", // 'typescript'
      "jsx": true
    },
    // "transform": {
    //   "react": {
    //     // "runtime": "automatic", // 默认"classic", 
    //     "pragma": "h",
    //     "pragmaFrag": "Fragment",
    //   }
    // },
    /**引入的静态变量直接替换*/
    // "constModules": true,
    /**
     * 作用类似 babel 的 regenerator-runtime 或 @babel/runtime
     */
    "externalHelpers": true,
    // "target": "es2015" // env.targets 优先
    // "minify":{
    //   "compress": true,// 与terser 配置一样
    //   "mangle": true // terser
    // }
    "experimental": {
      "plugins": [
        [
          "swc-plugin-vue-jsx",
          {}
        ]
      ]
    }
  },
}