<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<style>
  * {
    margin: 0;
  }
</style>
<style>
  .user-list {
    border: 1px dashed #aaa;
    height: 300px;
    width: 200px;
    overflow: auto;
    padding-left: 30px;
  }

  .user-list .user-item {}

  .user-list .user-item.current-user {
    color: darkgreen;
  }

  .msg-row .msg-title {
    color: darkgreen;
  }

  .msg-row .msg-title.mine {
    color: blue;
  }

  .msg-row .msg-title .msg-state {
    margin-left: 10px;
  }

  .msg-row .msg-text {
    margin-left: 10px;
    word-break: break-all;
  }

  .msg-row .msg-tip {
    font-size: 14px;
    color: #bbb;
    text-align: center;
  }
</style>

<body>
  <details open>
    <summary style="font-size: 24px;font-weight:bolder;">Socket.io</summary>
    <div style="display:flex">
      <ol id="userList" class="user-list"></ol>
      <div>
        <div id="msgBox" style="border:1px dashed #aaa;height: 300px;width: 400px;overflow:auto;"></div>
        <div class="sendbar">
          msg: <input type="text" id="inputMsg" /> <button id="sendSocketIOBtn">send</button>
        </div>
      </div>
    </div>

  </details>
</body>
<script type="module">
  import { io } from 'https://cdn.socket.io/4.4.1/socket.io.esm.min.js';
  import h from '/js/h.js';
  /** socket.io*/
  const socket = io('http://localhost:3000');
  socket.on('open', () => {
    console.log('收到服务端连接确认');
  });
  const sendSocketIOBtn = document.querySelector('#sendSocketIOBtn');
  const inputMsg = document.querySelector('#inputMsg');
  const msgBox = document.querySelector('#msgBox');
  const userList = document.getElementById('userList');

  sendSocketIOBtn.addEventListener('click', () => {
    sendMsg();
  });
  inputMsg.addEventListener('keypress', e => {
    if (e.keyCode === 13) {
      sendMsg();
    }
  });

  let currentUserSocketId = ''; // 当前用户id
  socket.on('broadcastMsg', onBroadcastMsg);
  socket.on('getConnects', data => getConnects(data));
  socket.on('someoneJoin', data => onSomeoneJoinOrLeave('join', data));
  socket.on('someoneLeave', data => onSomeoneJoinOrLeave('leave', data));

  function sendMsg() {
    let msg = inputMsg.value;
    if (!msg) return alert('请输入文字发送');
    let time = Date.now(); // TODO: 时间更正
    addMsg('mine', { msg, time });
    socket.emit('sendMsg', msg, data => {
      if (data.ok) {
        let state = document.querySelector('#t' + time);
        state.textContent = '✔';
      }
    });
    inputMsg.value = '';
  }
  function onBroadcastMsg(data) {
    console.log('收到广播信息', data);
    addMsg('others', data);
  }
  /* 向对话框中添加信息*/
  function addMsg(type, data) {
    let msgRow = h('div.msg-row', [
      h(
        'div.msg-title',
        {
          classList: type === 'mine' && ['mine'],
          textContent: (type === 'mine' ? '我' : data.user.socketId) + ' ' + new Date(data.time).toLocaleTimeString(),
        },
        type === 'mine' && [h(`span#t${data.time}.msg-state`, '•••')],
      ),
      h('div.msg-text', data.msg),
    ]);
    msgBox.appendChild(msgRow);
    msgBox.scrollTop = msgBox.scrollHeight;
  }
  /* 有人加入离开*/
  function onSomeoneJoinOrLeave(type, data) {
    let msgRow = h('div.msg-row', [
      h('div.msg-tip', data.user.socketId + (type === 'join' ? '加入' : '离开') + ' ' + new Date(data.time).toLocaleTimeString()),
    ]);
    msgBox.appendChild(msgRow);
    msgBox.scrollTop = msgBox.scrollHeight;
    updateConnects(data);
  }
  /* 获取连接情况*/
  function getConnects(data) {
    currentUserSocketId = data.user.socketId;
    updateConnects(data);
  }
  function updateConnects(data) {
    // 删除所有子节点
    let ele;
    while ((ele = userList.children.item(0))) {
      ele.remove();
    }
    data.connects.forEach(item => {
      if (item === currentUserSocketId) {
        userList.appendChild(h('li.user-item.current-user', item));
      } else {
        userList.appendChild(h('li.user-item', item));
      }
    });
  }
</script>
</html>