@keyframes sca {
    from {
        transform: scale(0.2)
    }

    to {
        transform: scale(1)
    }
}

.tree-svg {
    animation: sca 0.5s ease;
    font-size: 14px;
    &.highlight-mode {
        .node {
            opacity: 0.1;
        }
        .node-link {
            opacity: 0.1;
        }
    }

    .node-group {
        .node {
            &.highlight {
                opacity: 1;
            }

            .root-node {
                font-size: 18px;

                .root-node__icon {
                    width: 32px;
                    height: 32px;
                    background-color: #1b63d9;
                    border-radius: 5px;
                    margin: 0 auto;
                }

                .root-node__name {
                    font-size: 18px;
                    margin-top: 10px;
                    line-height: 1.2;
                    text-align: center;
                    color: #1b63d9;
                    font-weight: bolder;
                }
            }

            .parent-node {
                width: 100%;
                height: 100%;
                display: inline-flex;
                box-sizing: border-box;
                font-weight: bolder;
                text-align: center;
                color: #fff;
                cursor: pointer;
                border-radius: 4px;
                align-items: center;
                justify-content: center;

                .text {
                    line-height: 1;
                }

                &:hover {
                    filter: brightness(1.2);
                }
            }

            .leaf-node {
                display: block;
                color: #494966;
                padding: 0 4px;

                .node-text {
                    display: inline-block;
                    cursor: pointer;
                }

                &.more .node-text {
                    color: #3978dd;
                }
            }

            .line-text {
                font-size: 12px;
                fill: #3978dd;
                cursor:pointer;
                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }

    .link-group {

        /* 连接线样式 */
        .node-link {
            &.highlight {
                opacity:1;
            }
            fill: none;
            stroke: #d2d2e5;
            stroke-width: 1;
        }
    }

}