<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>express index</title>
</head>

<body>
    <h1>Hello World <%= tempVar %>
    </h1>
</body>
<script>
    let a = "<%=currentDate %>"
    console.log('a', a);
</script>
<script>
    const eventSource = new EventSource('http://localhost:3000/serverPush');
    eventSource.onopen = () => {
        console.log('event source open.')
    }
    eventSource.onerror = (err) => {
        console.log('event source error.', err)
    }
    eventSource.onmessage = ({ data }) => {
        console.log('New message', JSON.parse(data));
    };

</script>

</html>